# Ignore VTK folders
**/VTK/
**/VTK*/
**/*.vtk

# Ignore results but leave 0/ folder
**/[0-9]*/
**/[0-9]*.[0-9]*/
!**/[0-9]*[a-zA-Z]*/
!**/0/
**/processor[0-9]*/

# Ignore postProcessing folder
**/postProcessing/

# Ignore logs
**/log

# Ignore txts 
**/*.txt*
**/*.csv*

# Ignore mesh
**/*.msh*

# Ignore VSCode workspace
**/*.code-workspace

# Ignore libreOffice backups
**/*.ods#