# Ignore VTK folders
**/VTK/
**/VTK*/
**/*.vtk

# Ignore results but leave 0/ folder
**/*.??/

# Ignore postProcessing folder
**/postProcessing/

# Ignore logs
**/log

# Ignore txts 
**/*.txt*

# Ignore VSCode workspace
**/*.code-workspace